/* 폰트 */
/* 나눔스퀘어라운드 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 배달의민족 도현체*/
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 강원교육튼튼체 */
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/*==============================================*/
/*==============================================*/
/*==============================================*/
/* 전체 */
* {font-family: 'NanumSquareRound';}
body {margin: 0;}
a {text-decoration: none; color: #000;}
button {cursor: pointer;}
ul {list-style: none; display: flex; padding: 0; flex-wrap: wrap; justify-content: center;}
em {font-style: normal; font-weight: bold;}
/*==============================================*/
/*==============================================*/
/*==============================================*/
/* 가상 클래스 */
:root{
    --bg-color:#f5f7f9; 
    --n-color :#01c75b;
    --color : #a0a5ae;
    --btn-bg:#fff;
    --point1 :#f5f8fa;
    --point2 : #e8eaec;
    --point3 :#76b0e6;
}
/*==============================================*/
/*==============================================*/
/*==============================================*/
/* 레이아웃 */
body{
    margin: 0; width: 100%; height: 100vh;
    display: grid;
    grid-template-columns: auto 500px auto ;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    'header header header'
    'main main main '
    'footer footer footer';
    align-content: space-between;
    align-items: center;
}
header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    height: auto;
}

section{
    grid-area: main;
    /* background-color: var(--bg-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    grid-area: footer;
    background-color: var(--bg-color); height: auto;
    padding-top: 30px; padding-bottom: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/*==============================================*/
/*==============================================*/
/*==============================================*/
/* icon */
.w_left i {color:#5da2e2}
.fa-circle {color:orange;}
.fa-cloud-rain {color:gray;}
.fa-cloud {color: blue;}
/*==============================================*/
/*==============================================*/
/*==============================================*/
/* header */
.nav > button { background-color: var(--btn-bg); border: none; }
.nav i { color: var(--color); font-size: x-large; }
.move { display: flex; align-items: center;}
.move > a { margin: 0 5px; display: flex; align-items: center; justify-content: center;}
.move > a:nth-child(1) { border-bottom: 2px solid var(--bg-color); padding: 5px;}
.move > a:nth-child(n+2) {background-color: var(--point1); border: 2px solid var(--bg-color); border-radius: 15px; box-shadow: 1px 1px var(--point2); padding: 5px 10px; }
.move img {height: 20px;}
/*==============================================*/
/*==============================================*/
/*==============================================*/
/* section */

/** logo **/
.logo { margin-top: 100px; text-align: center; }
.logo > img { width:400px; height:10%; }

/** search **/
.h_search { margin: 20px auto; padding: 10px; border: 2px solid var(--n-color); border-radius: 10px; width: 600px; display: flex; justify-content: space-between; align-items: center;  }
.h_search > form > input { padding: 10px; width: 480px; border: none; }
.h_search > form > input:focus { outline: none; }
.h_btn {display: flex;}
.h_btn > button { border: none; background-color: var(--btn-bg); padding: 0;}
.h_btn img {height: 30px; padding: 0;}
input::-ms-clear, input::-ms-reveal{ display:none; width:0; height:0; }

/** menu **/
.h_menu { display: flex; justify-content: center; }
.h_menu > ul { width: 600px;}
.h_menu > ul > li { margin: 15px 5px; width: 20%; }
.h_menu a { display: flex; flex-direction: column; align-items: center; }
.h_menu img { width: 40px; height: 40px; margin: 10px 0; }

/** main **/
.main { background-image: linear-gradient(to top, #f2f5f7, var(--btn-bg)); padding: 80px 0; display: flex; flex-direction: column; align-items: center; height: 100%; width: 100%; }
.main_con { background-color: var(--btn-bg); border-radius: 10px; margin: 10px; padding: 15px 20px; width: 600px; }
.m_top,.temperature, .w_top, .wt_top > a, .p_top, .notice a { display: flex; justify-content: space-between; align-items: center; }


/** tem **/
.tem_left {padding: 10px;}
.tem_left > i { font-size: xx-large; color: var(--point3);}

/** now **/
.now {display: flex; justify-content: flex-end; align-items: center;}
.n_left a {display: flex; flex-direction: column; margin-right: 10px;}
.n_left img {width: 80px; height: 30px;}
.n_left strong {bottom: 5px; left: 5px;}
.n_right {display: flex; align-items: center; justify-content: flex-end;}
.n_right  img {height: 50px; padding: 5px; border-radius: 50%;}

/** weather **/
.w_left span {color: var(--color);}
.w_cate ul {justify-content: flex-start; margin-block-end: 0em;}
.w_cate li { margin: 5px; padding: 5px 7px; border-radius: 7px; text-align: center;}
.w_cate li:hover{background-color: var(--point3); color: #fff; cursor: pointer;}
.w_cate li:nth-child(3) {border-bottom: 2px solid var(--bg-color);}
.w_info {display: flex; justify-content: center;}
.w_info ul {justify-content: space-between; width: 100%; padding: 0 10px;}
.w_info li {display: flex; flex-direction: column; align-items: center; width: 55px;}
.w_info li > span:nth-child(1) {font-weight: bold; font-size: large;}
.w_info span { margin: 2px 0;}
.w_info img {width: 30px; height: 30px;}
.w_info span:nth-last-child(1) {padding: 5px 10px;}
.w_info li > span:nth-last-child(1):hover {background-color: var(--color); border-radius: 15px; color: var(--btn-bg); cursor: pointer; }

/** covid **/
.covid {display: flex; align-items: center;}
.covid > div {width: 50%; padding: 0 5px;}
.covid_con {margin: 0 10px; color: var(--color);}
.c_top {display: flex; align-items: center;}
.c_top strong {margin: 5px;}
.c_top > img { width: 30px; height: 30px;}
.covid_fact {border-left: 2px solid var(--point2);}

/** holiday **/
.holiday {display: flex; align-items: center; justify-content: center}
.holiday > img {width: 50px; padding: 10px;}

/** app **/
.app {display: flex; align-items: center;justify-content: space-between;}
.app_left {display: flex; align-items: center;}
.app_left > span {margin: 10px;}
.app_left > img {width:40px; height:40px;}
.app_right > a {padding: 5px 10px; background-color: var(--btn-bg); border-radius: 5px; border: 1px solid var(--point3); color: var(--point3); box-shadow: 1px 1px var(--point3);}
.app_right > a:hover{background-color: var(--point3); color: var(--btn-bg);}

/** pann **/
.p_info > ul {display: flex; justify-content: space-between !important;}
.p_info li {margin: 5px; width: 43%; background-color: var(--bg-color); padding: 5px 15px;}
.p_name > a {display: flex; align-items: center; justify-content: space-between;}
.p_name img { width:40px; height:40px;}
.p_top a {color: var(--color);}

/** notice **/
.n_left > span {padding: 5px 10px; border: 2px solid var(--n-color); border-radius: 15px; color: var(--n-color);}
.n_info em {padding: 10px;}
/*==============================================*/
/*==============================================*/
/*==============================================*/
/* footer */
.f_info, .f_info > a{ padding: 3px; color : var(--color) }