/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */
/* 전체 */
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'LeeSeoyun';
    font-size: 17px;
    margin: 0;
}
button{
    cursor: pointer;
    padding: 7px 14px;
}

/* 영역 */
.space{
    padding: 10px;
    position: absolute;
    top: 50px;
    z-index: 1;
}

.top{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}


/* 버튼 */
.create_btn{
    color: #fff;
    background-color: #F0BB62;
    border: 0.5em solid;
    border-radius: 30px;
}


/* 아이콘 */
.icon{
  cursor: pointer;
    width: 100px;
    margin: 0px;
}
.folder{
    cursor: pointer;
    width: 100px;
    margin: 10px;
    /* display: inline; */
}

/* 모달창 */
.modal {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal.show {
    display: block;
  }

  .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 50%;
    height: 50%;

    padding: 35px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
  }

  .close_btn{
    background-color: #E97777;
    color: #fff;
    border: 0.1em solid #E97777;
    padding: 7px 14px;
    display: inline;
    float: right;
    border-radius: 15px;
  }
  .close_btn:hover{
    color: #E97777;
    background-color: #fff;
    border: 0.1em solid #E97777;
  }
  